:root {
    --background-color-dark: #19417C;
    --background-color-light: #5C65B2;
    --color-danger-light: #F3A0A0;
    --color-danger-dark: #6D0808;
    --color-danger: #D10C0C;
    --color-success-light: rgb(194, 241, 192);
    --color-success-dark: #008000;
    --color-success: #32B58E;
}